<template>
  <nav v-if="getNavClass() === 'sidebar'" 
    class="sidebar">

    <button v-if="hasSlot('hide')"
      @click="toggleSide()">
      <slot name="hide"></slot>
    </button>

    <ul id="side"
      class="show">
        <li v-if="hasSlot('first')">
          <slot name="first"></slot>
        </li>

        <li v-for="(item, index) in items"
          :key="index">
          <a :href="`#${item}`"
            :title="item">

            <slot name="items"
              :item="item"
              :index="index">
              {{ item }}
            </slot>
          </a>
        </li>

        <li v-if="hasSlot('last')">
          <slot name="last"></slot>
        </li>

        <li>
          <a v-if="hasSlot('top')"
          href="#top">
          <slot name="top"></slot>
          </a>
      </li>
    </ul>
  </nav>

  <nav v-else 
    class="navbar">

    <a v-if="hasSlot('brand')"
      href="/"
      title="Home">
      <slot name="brand"></slot>
    </a>

    <ul>
      <li v-for="(item, index) in items"
        :key="index">
        <a :href="item.href"
          :title="item.name">

          <slot name="items"
            :item="item"
            :index="index">
            <i :class="`fa-${item.type} fa-${item.icon} fa-fw`"></i>
          </slot>

          <b>{{ item.name }}</b>
        </a>
      </li>
    </ul>

    <aside v-if="hasSlot('admin')">
      <slot name="admin"></slot>
    </aside>
  </nav>
</template>
