<template>
  <!-- ARTICLE ELT -->
<article v-if="isArticle === true"
  :class="$attrs.class"
  :id="id">
  <header>
    <slot name="header"></slot>
  </header>

  <slot name="body"></slot>

  <!-- Aside (option) -->
  <aside v-if="hasSlot('aside')">
    <slot name="aside"></slot>
  </aside>

  <!-- Footer (option) -->
  <footer v-if="hasSlot('footer')">
    <slot name="footer"></slot>
  </footer>
</article>

<!-- SECTION ELT -->
<section v-else
  :class="$attrs.class"
  :id="id">
  <header>
    <slot name="header"></slot>
  </header>

  <slot name="body"></slot>

  <!-- Aside (option) -->
  <aside v-if="hasSlot('aside')">
    <slot name="aside"></slot>
  </aside>

  <!-- Footer (option) -->
  <footer v-if="hasSlot('footer')">
    <slot name="footer"></slot>
  </footer>
</section>
</template>
