<template>
  <figure :title="title">

    <!-- AUDIO ELT -->
    <audio v-if="type === 'audio'"
      controls
      :src="src"
      :loop="loop"
      :itemprop="itemprop">
      <slot name="audio"></slot>
    </audio>

    <!-- VIDEO ELT (multiple sources) -->
    <video v-else-if="type === 'video'"
      controls
      :src="src"
      :loop="loop"
      :height="height"
      :width="width"
      :itemprop="itemprop">

      <source v-for="(video, index) in medias"
        :key="index"
        :src="video.src"
        :type="video.type">
      <slot name="video"></slot>
    </video>

    <!-- QUOTE ELT -->
    <blockquote v-else-if="type === 'quote'"
      :cite="src"
      :itemprop="itemprop">
      {{ content }}
      <slot name="quote"></slot>
    </blockquote>

    <!-- IMAGE ELT (multiple sources) -->
    <picture v-else-if="type === 'picture'">

      <source v-for="(picture, index) in medias"
        :key="index"
        :type="picture.type"
        :srcset="picture.src"
        :media="picture.media">

      <img :src="src"
        :alt="alt"
        :itemprop="itemprop">
    </picture>

    <!-- IMAGE ELT (single source) -->
    <img v-else
      :src="src"
      :alt="alt"
      :itemprop="itemprop">

    <!-- Figcaption (option) -->
    <figcaption v-if="hasSlot('figcaption')">
      <slot name="figcaption"></slot>
    </figcaption>
  </figure>
</template>
