/********** MEDIA ELT **********/
figure {
  --ve-figure-border: 1px solid transparent;
  --ve-figure-border-radius: 20px;
  --ve-figure-padding: 0;
  --ve-figure-background-color: transparent;
}

img {
  --ve-img-border: 1px solid var(--ani-blue);
  --ve-img-border-radius: 20px;
  --ve-img-padding: 1px;
  --ve-img-max-width: 100%;
  --ve-img-height: auto;
  --ve-img-object-fit: contain;
  --ve-img-object-position: 50% 50%;
}

audio {
  --ve-audio-border: 2px solid var(--ani-gray);
  --ve-audio-border-radius: 10px;
}

video {
  --ve-video-border: 2px solid var(--ani-black);
  --ve-video-border-radius: 20px;
}

figcaption {
  --ve-figcaption-display: flex;
  --ve-figcaption-flex-flow: column nowrap;
  --ve-figcaption-place-content: center center;
  --ve-figcaption-color: var(--ani-blue);
}
