/********** TABLE ELT **********/
table {
  --ve-table-display: table;
  --ve-table-overflow: hidden;
  --ve-table-table-layout: fixed;
  --ve-table-margin: 50px auto;
  --ve-table-border-collapse: separate;
  --ve-table-border-spacing: 1px;
  --ve-table-border-radius: 10px;
  --ve-table-width: 100%;
  --ve-table-max-width: 100%;
  --ve-table-font-size: 1.5rem;
}

caption {
  --ve-table-caption-caption-side: top;
  --ve-table-caption-margin-bottom: 20px;
  --ve-table-caption-font-size: 1.5rem;
  --ve-table-caption-font-weight: bold;
  --ve-table-caption-color: var(--ani-gray);
  --ve-table-caption-text-shadow: 1px 1px 2px;
}

thead {
  --ve-table-thead-border-radius: 10px;
}

tr {
  --ve-table-tr-display: flex;
  --ve-table-tr-flex-flow: column;
  --ve-table-tr-padding: 20px;
  --ve-table-tbody-tr-even-background-color: var(--ani-gray-light);
  --ve-table-tbody-tr-even-color: var(--ani-black);
  --ve-table-tbody-tr-odd-background-color: var(--ani-white);
  --ve-table-tbody-tr-odd-color: var(--ani-gray);
  --ve-table-tbody-tr-hover-background-color: var(--ani-silver);
  --ve-table-tbody-tr-hover-color: var(--ani-black);
}

th {
  --ve-table-th-display: none;
  --ve-table-th-padding: 5px;
  --ve-table-th-font-size: 1.5rem;
  --ve-table-th-font-style: italic;
  --ve-table-th-text-align: center;
  --ve-table-th-text-transform: uppercase;
  --ve-table-th-vertical-align: middle;
  --ve-table-th-background-color: var(--ani-blue);
  --ve-table-th-color: var(--ani-white);
}

td {
  --ve-table-td-display: table;
  --ve-table-td-padding: 5px;
  --ve-table-td-text-align: center;
  --ve-table-td-vertical-align: middle;
  --ve-table-td-word-break: normal;
  --ve-table-td-cursor: cell;
}

@media (min-width: 576px) {
  table {
    --ve-table-max-width: 99%;
  }
}

@media (min-width: 768px) {
  table {
    --ve-table-max-width: 98%;
  }
}

@media (min-width: 992px) {
  table {
    --ve-table-max-width: 97%;
  }
}

@media (min-width: 1200px) {
  table {
    --ve-table-max-width: 96%;
  }
  tr {
    --ve-table-tr-display: table-row;
  }
  th {
    --ve-table-th-display: table-cell;
  }
  td {
    --ve-table-td-display: table-cell;
  }
}

@media (min-width: 1600px) {
  table {
    --ve-table-max-width: 95%;
  }
}
