<template>
  <!-- SIDEBAR ELT (Anchor Only) -->
  <nav v-if="getNavClass() === 'sidebar'" 
    class="sidebar">

    <!-- Hide Action (option) -->
    <button v-if="hasSlot('hide')"
      @click="toggleSide()">
      <slot name="hide"></slot>
    </button>

    <ul id="side"
      class="show">
        <!-- Top static Link (option) -->
        <li v-if="hasSlot('first')">
          <slot name="first"></slot>
        </li>

        <!-- Main Links -->
        <li v-for="(item, index) in items"
          :key="index">
          <a :href="`#${item}`"
            :title="item">

            <slot name="items"
              :item="item"
              :index="index">
              {{ item }}
            </slot>
          </a>
        </li>

        <!-- Bottom static Link (option) -->
        <li v-if="hasSlot('last')">
          <slot name="last"></slot>
        </li>

        <!-- Bottom Link (option) -->
        <li>
          <a v-if="hasSlot('top')"
          href="#top">
          <slot name="top"></slot>
          </a>
      </li>
    </ul>
  </nav>
  
  <!-- NAVBAR ELT -->
  <nav v-else 
    class="navbar">

    <!-- Brand Logo (option) -->
    <a v-if="hasSlot('brand')"
      href="/"
      title="Home">
      <slot name="brand"></slot>
    </a>

    <!-- Main Links -->
    <ul id="nav"
      class="nav">

      <li v-for="(item, index) in items"
        :key="index">
        <a :href="item.href"
          :title="item.name">

          <slot name="items"
            :item="item"
            :index="index">
            <i :class="`fa-${item.type} fa-${item.icon} fa-fw`"></i>
          </slot>

          <b>{{ item.name }}</b>
        </a>
      </li>
    </ul>

    <!-- Admin Part (option) -->
    <aside v-if="hasSlot('admin')"
      id="admin"
      class="admin">
      <slot name="admin"></slot>
    </aside>
    
    <!-- Responsive Toggle -->
    <button type="button"
      @click="toggleNav()"
      title="Menu">
      <i class="fa-solid fa-bars"></i>
    </button>
  </nav>
</template>
