/********** NAV ELT **********/
:root {
  --ve-nav-height: 50px;
}

.navbar {
  --ve-nav-display: flex;
  --ve-nav-place-content: space-between;
  --ve-nav-place-items: center;
  --ve-nav-position: fixed;
  --ve-nav-top: 0;
  --ve-nav-right: 0;
  --ve-nav-bottom: unset;
  --ve-nav-left: 0;
  --ve-nav-z-index: 1000;
  --ve-nav-background-color: var(--ani-blue-dark);
  --ve-nav-color: var(--ani-white);
  --ve-nav-a-padding: 10px;
  --ve-nav-a-color: var(--ani-white);
  --ve-nav-a-cursor: pointer;
  --ve-nav-ul-display: flex;
  --ve-nav-ul-place-items: center;
  --ve-nav-ul-margin: 0;
  --ve-nav-ul-padding: 0;
  --ve-nav-ul-list-style: none;
  --ve-nav-ul-a-display: flex;
  --ve-nav-ul-a-not-i-display: none;
  --ve-nav-ul-a-flex-direction: column;
  --ve-nav-ul-a-hover-color: var(--ani-yellow);
  --ve-nav-ul-a-hover-transform: scale(0.9);
  --ve-nav-last-ul-a-hover-color: var(--ani-red);
  --ve-nav-button-background-color: transparent;
  --ve-nav-button-border: none;
  --ve-nav-button-cursor: pointer;
  --ve-nav-i-place-self: center;
}

.admin {
  --ve-nav-hide-display: none;
}

.nav {
  --ve-nav-show-display: flex;
}

.sidebar {
  --ve-side-display: flex;
  --ve-side-flex-flow: column;
  --ve-side-position: fixed;
  --ve-side-top: calc(var(--ve-nav-height) + 10px);
  --ve-side-left: 2px;
  --ve-side-z-index: 10;
  --ve-side-width: auto;
  --ve-side-ul-display: flex;
  --ve-side-ul-flex-flow: column;
  --ve-side-a-display: flex;
  --ve-side-a-place-content: center;
  --ve-side-a-place-items: center;
  --ve-side-a-margin: 5px;
  --ve-side-a-border: none;
  --ve-side-a-border-radius: 20px;
  --ve-side-a-outline: none;
  --ve-side-a-padding: 5px;
  --ve-side-a-width: 100%;
  --ve-side-a-background-color: var(--ani-white-dark);
  --ve-side-a-color: var(--ani-blue-dark);
  --ve-side-a-cursor: crosshair;
  --ve-side-a-hover-border-radius: 10px;
  --ve-side-a-hover-background-color: var(--ani-blue-dark);
  --ve-side-a-hover-color: var(--ani-white-dark);
  --ve-side-a-hover-transform: scale(1.1);
  --ve-side-a-hover-transition: all 500ms;
}

.hide {
  --ve-side-hide-display: none;
}

.show {
  --ve-side-show-display: flex;
}

@media (min-width: 576px) {
  .navbar {
    --ve-nav-place-content: space-around;
  }
}

@media (min-width: 768px) {
  :root {
    --ve-nav-height: 80px;
  }

  .navbar {
    --ve-nav-button-display: none;
    --ve-nav-ul-a-not-i-display: flex;
  }

  .admin {
    --ve-nav-hide-display: flex;
  }
}
