:root {
  --black: hsl(0,0%,0%);        /* Black */
  --blue: hsl(210,100%,56%);    /* DodgerBlue */
  --cyan: hsl(203,92%,75%);     /* LightSkyBlue */
  --gray: hsl(0,0%,41%);        /* DimGray */
  --green: hsl(120,61%,34%);    /* ForestGreen */
  --lime: hsl(120,61%,50%);     /* LimeGreen */
  --maroon: hsl(25,76%,31%);    /* SaddleBrown */
  --navy: hsl(240,64%,27%);     /* MidnightBlue */
  --orange: hsl(33,100%,50%);   /* DarkOrange */
  --purple: hsl(249,80%,67%);   /* MediumSlateBlue */
  --red: hsl(348,83%,47%);      /* Crimson */
  --silver: hsl(0,0%,86%);      /* GainsBoro */
  --teal: hsl(177,70%,41%);     /* LightSeaGreen */
  --violet: hsl(240,67%,94%);   /* Lavender */
  --white: hsl(240,100%,99%);   /* GhostWhite */
  --yellow: hsl(51,100%,50%);   /* Gold */
}
