<template>
  <figure class="slider">

    <ul class="controls">
      <li>
        <button @click="goPrevious()"
          title="Previous (&larr;)">
          <i class="fas fa-step-backward fa-2x"></i>
        </button>
      </li>
      <li>
        <button v-if="random === true"
          @click="checkRandom()"
          id="slider-random" 
          title="Normal">
          <i class="fas fa-long-arrow-alt-right fa-2x"></i>
        </button>
        <button v-else 
          @click="checkRandom()"
          id="slider-random" 
          title="Random">
          <i class="fas fa-random fa-2x"></i>
        </button>
      </li>
      <li>
        <button v-if="auto === true" 
          @click="checkAuto()"
          id="slider-auto" 
          title="Pause">
          <i class="fas fa-pause fa-2x"></i>
        </button>
        <button v-else 
          @click="checkAuto()"
          id="slider-auto" 
          title="Play">
          <i class="fas fa-play fa-2x"></i>
        </button>
      </li>
      <li>
        <button @click="goNext()"
          title="Next">
          <i class="fas fa-step-forward fa-2x"></i>
        </button>
      </li>
    </ul>

    <ul class="slides">

      <li v-for="(slide, index) in slides"
        :key="index"
        :id="'slide-' + (index + 1)">
        <figure>

          <slot name="slide"
            :slide="slide"
            :index="index">
          </slot>

          <figcaption v-if="hasSlot('info')">
            <slot name="info"
              :slide="slide"
              :index="index">
            </slot>
          </figcaption>

        </figure>
      </li>
    </ul>

    <ul class="gallery">

      <li v-for="(slide, index) in slides"
        :key="index"
        @click="setSlide(index)">

        <slot name="gallery"
          :slide="slide"
          :index="index">
        </slot>

      </li>
    </ul>
  </figure>
</template>
