<template>
  <fieldset :title="info">
    <legend v-if="hasSlot('legend')">
      <slot name="legend"></slot>
    </legend>

    <input v-if="getFieldType() === 'number'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :min="min"
      :max="max"
      :itemprop="itemprop"
      :required="required">

    <input v-else-if="getFieldType() === 'special'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :required="required">

    <select v-else-if="getFieldType() === 'list'"
      :id="id"
      :name="name"
      @input="onInput"
      :placeholder="info"
      :itemprop="itemprop"
      :required="required">

      <option v-if="content"
        :value="value">
        {{ content }}
      </option>

      <option v-else-if="value"
        :value="value">
        {{ value }}
      </option>

      <option v-else>
        {{ info }}
      </option>

      <option v-if="list[0].value"
        v-for="(item, index) in list"
        :index="index"
        :value="item.value">
        {{ item.content }}
      </option>

      <option v-else
        v-for="(item, index) in list"
        :index="index"
        :value="item">
        {{ item }}
      </option>
    </select>

    <textarea v-else-if="getFieldType() === 'area'"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :placeholder="info"
      :minlength="min"
      :maxlength="max"
      :cols="cols"
      :rows="rows"
      :itemprop="itemprop"
      :required="required"></textarea>

    <input v-else
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :placeholder="info"
      :minlength="min"
      :maxlength="max"
      :itemprop="itemprop"
      :required="required">

    <label v-if="hasSlot('label')"
      :for="id">
      <slot name="label"></slot>
    </label>
  </fieldset>
</template>
