<template>
  <fieldset :title="info">
    <!-- Legend (option) -->
    <legend v-if="hasSlot('legend')">
      <slot name="legend"></slot>
    </legend>

    <!-- NUMBER, DATE, TIME, RANGE ELT -->
    <input v-if="getFieldType() === 'number'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :min="min"
      :max="max"
      :itemprop="itemprop"
      :required="required">

    <!-- CHECKBOX, RADIO, COLOR ELT -->
    <input v-else-if="getFieldType() === 'special'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :required="required">

    <!-- SELECT, OPTION ELT -->
    <select v-else-if="getFieldType() === 'list'"
      :id="id"
      :name="name"
      @input="onInput"
      :placeholder="info"
      :itemprop="itemprop"
      :required="required">

      <option v-if="value"
        :value="value">
        {{ value }}
      </option>
      <option v-else>
        {{ info }}
      </option>
      <option v-for="(value, key) in list"
        :key="key"
        :value="value">
        {{ value }}
      </option>
    </select>

    <!-- TEXTAREA ELT -->
    <textarea v-else-if="getFieldType() === 'area'"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :placeholder="info"
      :minlength="min"
      :maxlength="max"
      :cols="cols"
      :rows="rows"
      :itemprop="itemprop"
      :required="required"></textarea>

    <!-- TEXT, OTHERS ELT -->
    <input v-else
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      @input="onInput"
      :placeholder="info"
      :minlength="min"
      :maxlength="max"
      :itemprop="itemprop"
      :required="required">

    <!-- Label (option) -->
    <label v-if="hasSlot('label')"
      :for="id">
      <slot name="label"></slot>
    </label>
  </fieldset>
</template>
